.button {
     height: 60px;
     width: 110px;
}

    table {
        border-collapse: collapse; 

        border: 2px solid black;
    }

    th, td {
        border: 1px solid black; 
        padding: 8px;
        text-align: left;
    }

    #obs {
        color: red;
    }