.button {
     height: 60px;
     width: 110px;
}
.button.minus {
    width: 10px;
    margin-right: 10px;
    background: red;
}

    table {
        border-collapse: collapse; 

        border: 2px solid black;
    }

    th, td {
        border: 1px solid black; 
        padding: 8px;
        text-align: left;
    }

    #obs {
        color: red;
    }

    #obsBoks {
    position:absolute;
    top: 30%;
    left: 42%;
    }